@import url('images/https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(126 146 182); */
    overflow-x: hidden;
}

/* HEADER */


.bg-img
{
    background-image: url("images/bg-img7.jpg");
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
    


dt {
    color: darkgoldenrod;
}

/* Navigation BAR */

.navigation
{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
}

.sghiouri{
    display: grid;
    grid-template-columns: 10px 1px 10px 10px 10px 10px 10px 10px 10px 10px;
    column-gap: 15px;
  
}

.sghiouri img{
    width: 20px;
    align-items: center;
    justify-content: center;
}

.navigation a{
    text-decoration: none;
    color: black;
    font-family: "Gill Sans", sans-serif;
    padding: 10px;
    transition: all 1s ease;

}
.navigation a:active{
    border-top: 5px solid black;
}

.collapse-menu{
    display: none;
}
    


.navigation .elem:hover{
    background-color: rgba(34, 162, 176, 0.219);
    border-radius: 10px;
}

nav{
    background-color: rgb(255,255,255,0.8);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.contact
{
    border:3px solid rgba(33, 136, 205, 0.799);
    padding: 7px;
    transition: all 1s ease;
    border-radius: 10px;
}
.contact:hover
{
    background-color: rgba(34, 162, 176, 0.219);
}

.collapse-nav{
    display: none;
}

@media screen and (max-width:820px) {
    .navigation{
        display: none;
    }

    .tel{
        position: absolute;
        margin: auto;
        display: grid;
        row-gap: 20px;
        grid-template-columns: auto;
        width: 60%;
        margin-top: 200px;
        margin-left: 20%;
        font-size: 18px;
        letter-spacing: 3px;
        text-align: center;
        color: white;
    }
    .welcome{
        margin-bottom: 20px;
        font-size: 20px;
        letter-spacing: 3px;
    }

    .software{
        letter-spacing: 3px;
        font-size: 30px;
        color: #ccc;
        font-weight: bold;
    }

    .btn-tel{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 3px solid white;
        border-radius: 1px;
        padding: 20px;
        font-size: 20px;
        transition: all 1s ease;
    }
    .btn-tel:hover{
        background-color: #708caa;
    }

    .social-tel{
        display: flex;
        margin: auto;
    }

}



.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 1060px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 1060px) {

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }










/* HELLO SECTION */

.hello-icon{
    width: 50px;
}

.grid-container
{
    display: grid;
    column-gap: 5px;
    grid-template-columns: 35% auto;
    width: 70%;
    margin-left: 16%;
    margin-top: 200px;
    position: absolute;
    background-color: #ebdfcd;
}


@media screen and (max-width:820px) {
    .grid-container{
        display: none;
    }
    
}

.grid-item {
    padding: 10px;
    font-size: 22px; 
}

.grid-item-img {
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    padding: 10px;
}



.name
{
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.filiere
{
    font-size: 15px;
    border-bottom: 3px solid rgba(219, 87, 44, 0.854);
    padding-bottom: 10px;
}

th{
    font-size:19px;
    font-family: monospace;
    letter-spacing: 2px;
}

td{
    font-size: 19px;
    font-family: monospace;
    letter-spacing: 1px;
    color: #333;
}

button{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(219, 87, 44, 0.854);
    
    padding: 10px;
    color: white; 
}

button a {
    text-decoration: none;
    color: white;
    transition: all 1s ease;
    font-size: 15px;
}

.grid-item-social
{
    background-color: rgba(195, 96, 64, 0.854);
    text-align: center;
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
}

.grid-item-social a{
    display: block;
    margin-right: 50px;
    margin-left: 50px

}

.card
{
    width: 48%;
}


p{
    margin: 0;
}





/* ABOUT ME */

.about-me
{
    background: linear-gradient(rgba(250, 235, 215, 0.49),white,white,white,white,rgba(250, 235, 215, 0.49));
    padding: 3% 3% 0% 2%;
    display: grid;
    margin: auto;
    column-gap: 50px;
    grid-template-columns: auto auto ;
}

@media screen and (max-width:821px) {
    .about-me
    {
        min-height: 500px;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 10px;
        display: grid;
        margin: auto;
        row-gap: 10px;
        grid-template-columns: auto ;
    }
 

    .you
    {
        border-top: 4px dashed gray;
        border-left: 1px solid transparent;
    }

    .grid-item-about{
        padding-left: 20px;
        padding-right: 20px;
    }


    
}



@media screen and (min-width:1061px) {
    .topnav{
        display: none;
    }
}

@media screen and (min-width:820px) {
    .you
    {
        border-left: 4px dashed gray;
    }
    
    .name{
        letter-spacing: 4px;
    }
    .grid-item-img {
        width: 200px;
        height: 200px;
    }
    .tel
    {
        display: none;
    }
    .grid-item-about{
        padding: 50px;
    }
    
}


.grid-item-about p
{
    justify-content: center;
    letter-spacing: 1px;
    font-family: "Gill Sans", sans-serif;
    text-align: justify;
    line-height: 25px;
    padding-left: 10px;
}


.grid-item-gif{
    background: url("abtme.gif");
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.grid-item-about h5{
    margin-top: 20%;
    color: grey;
    letter-spacing: 2px;
    font-family: "Gill Sans", sans-serif;
}

.grid-item-about h4{
    font-weight: 100;
    margin-top: 4%;
    color: grey;
    letter-spacing: 2px;
    font-family: "Gill Sans", sans-serif;
}

.about-me-img{
    width: 100%;
    height: 89%;
    margin-top: 50px;
}

.item-interne{
    width: 100%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.item-interne:hover{
    -webkit-transform:scale(1.15);
    transform: scale(1.15);
}




/* STUDIES */


h3{
    margin: auto;
}


/* PROJETS */

.projet-section{
    
    background-color: #eeeeee;
    /* top right bottom left */
    padding:30px 50px 80px 50px;
    text-align: center;  
}

.title-projet{
    margin-bottom: 40px;
    font-family: fantasy;
    font-size: 25px;
}

.projet-div{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:30px; 
}

@media screen and (max-width:820px) {

    .projet-div{
        display: grid;
        row-gap: 20px;
        grid-template-columns: auto;
        column-gap:30px; 
    }
    
    .pr > img{
        width: 100%;
    }

    .projet1, .projet2, .projet3, .projet4, .projet5, .projet6
    {
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .item-interne img{
        width: 100%;
        height: auto;
    }

    .about-me-img{
        margin-top: 0px;
        height: 500px;
    }

    .grid-item-about h5{
        margin-top: 10px;
    }
        
}

.projet1, .projet2, .projet3, .projet4, .projet5, .projet6
{
    background-color: rgba(185, 185, 185, 0.787);
    font-size: 20px;
    text-align: justify;
    transition: all 1s ease;
    overflow: hidden;
    grid-template-columns: auto;
    display: grid;
    border-radius: 10px;
}

.pillpal{
    background-color: burlywood;
    text-align: center;
    padding: 10px;
    font-family:"Gill Sans", sans-serif ;
}

.ecsa{
    background-color: rgba(119, 170, 52, 0.768);
    text-align: center;
    font-family:"Gill Sans", sans-serif ;
    padding: 10px;
}

.app-web{
    background-color: rgba(41, 185, 211, 0.768);
    text-align: center;
    padding: 10px;
    font-family:"Gill Sans", sans-serif ;
}

.eca{
    background-color: rgba(216, 75, 99, 0.768);
    text-align: center;
    padding: 10px;
    font-family:"Gill Sans", sans-serif ;
}

.tkinter{
    background-color: rgb(67, 183, 88);
    text-align: center;
    padding: 10px;
    font-family:"Gill Sans", sans-serif ;
}

.doremy{
    background-color: coral;
    text-align: center;
    padding: 10px;
    font-family:"Gill Sans", sans-serif ;
}


.pillpal, .eca, .app-web, .ecsa, .tkinter, .doremy{
    letter-spacing: 2px;
}

.pr > img{
    width: 100%;
}

.projet1:hover
{
    margin-top: -20px;
    margin-bottom: 20px;
}
.projet2:hover
{
    margin-bottom: 20px;
    margin-top: -20px;
}
.projet3:hover
{
    margin-bottom: 20px;
    margin-top: -20px;
}

.projet4:hover
{
    margin-bottom: 20px;
    margin-top: -20px;
}

.projet5:hover
{
    margin-bottom: 20px;
    margin-top: -20px;
}

.projet6:hover
{
    margin-bottom: 20px;
    margin-top: -20px;
}


.texto{
    padding: 15px;
    font-size: 17px;
    line-height: 25px;
}


.small{
    font-size: 15px;
}

.btn-visiter{
    margin-left: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: fantasy;
    letter-spacing: 4px;
    font-weight: bolder;
}

/* between sections */


.between-sections{

    width: 30px;
    height: 30px;
    background: rgb(199, 196, 38);
    position: relative;
    animation: mymove infinite;
    animation-duration: 5s;
}


@keyframes mymove {
    from {left: 0px;}
    to {left: 90%;}
}


/* EDUCATION */

.education{
    background-image: url('images/academy.jpg');
    background-size: cover;
    min-height: 700px;
    padding-top: 30px;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.title-education{
    text-align: center;
    margin-bottom: 40px;
    font-family: fantasy;
    font-size: 30px;
    letter-spacing: 3px;
}

.education-item{
    display: grid;
    grid-template-columns: 27% 27% 27%;
    column-gap: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;   
}

@media screen and (max-width:820px){
    .education-item{
        display: grid;
        grid-template-columns: auto;
        row-gap: 40px;
        padding: 40px;
    }
    .education-item-interne1:hover{
        background-color: #708caa;
        transform: scale(1.0);
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .education-item-interne2:hover{
        background-color: #97a4b2;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        transform: scale(1.0);
    }
    
    .education-item-interne3:hover{
        background-color: #a5a2a0;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        transform: scale(1.0); 
    }
}

.education-item-interne1, .education-item-interne2, .education-item-interne3{
    padding: 20px;
    min-height: 460px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: floralwhite;
}

dd,dt{
    letter-spacing: 2px;

}

.education-item-interne1 p, .education-item-interne2 p, .education-item-interne3 p{
    text-align: center;    
    letter-spacing: 3px;
    font-size: 20px;
    color: khaki;
}

.education-item-interne1{
    background-image: url('images/bg-ensam.jpg');
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}


.education-item-interne2{
    background-image: url('images/bg-fac.jpg');
    background-position: center;
    color: aliceblue;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}

.education-item-interne3{
    background-image: url('images/bg-ecole.jpg');
    background-position: center;
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}


/* les hover */
.education-item-interne1:hover{
    background-color: #708caa;
    transform: scale(1.10);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.education-item-interne2:hover{
    background-color: #97a4b2;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    transform: scale(1.10);
}

.education-item-interne3:hover{
    background-color: #a5a2a0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    transform: scale(1.10); 
}



/* FOOTER */

footer{
    align-content: center;
    display: grid;
}

.footer-basic {
    display: grid;
    grid-template-columns: 10% auto;
    padding:40px 0;
    background-color:#1c2633;
    color:#bdc0c2;
  }

@media screen and (max-width:820px) {
.footer-basic {
    display: grid;
    row-gap: 20px;
    grid-template-columns:auto;
    padding:40px 0;
    background-color:#1c2633;
    color:#bdc0c2;
    }
    
}

    .card-footer{
        width: 100px;
    }
    .footer-item{
        padding: 10px;
        text-align: center;
        font-size: xx-large;
    }

    .footer-item a{
        color: white;
        font-size: 20px;
        text-decoration: none;
    }


    .footer-basic .social {
        text-align:center;
        padding-bottom:25px;
        display: grid;
        grid-template-columns: 70px 70px 70px 70px 70px;
        align-items: center;
        justify-content: center;
    }

    .footer-basic .social > a {
        font-size:24px;
        width:40px;
        height:40px;
        line-height:40px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        border:1px solid #ccc;
        margin:0 8px;
        color:inherit;
        opacity:0.75;
        align-items: center;
    }

    .footer-basic .social > a:hover {
    opacity:0.9;
    }

    .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(239, 239, 239);
    margin-bottom:0;
    }

    .icon{
        color: white;
    }

    .this{
        width: 60px;
    }

    .bg-me{
        background-image: url('images/simo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

@media only screen and (max-width: 1060px) and (min-width: 820px)
{
    .grid-container{
        display: none;
    }

    .navigation{
        display: none;
    }

    .tel{
        position: absolute;
        margin: auto;
        display: grid;
        row-gap: 20px;
        grid-template-columns: auto;
        width: 60%;
        margin-top: 200px;
        margin-left: 20%;
        font-size: 18px;
        letter-spacing: 3px;
        text-align: center;
        color: white;
    }
    .welcome{
        margin-bottom: 20px;
        font-size: 20px;
        letter-spacing: 3px;
    }

    .software{
        letter-spacing: 3px;
        font-size: 30px;
        color: #ccc;
        font-weight: bold;
    }

    .btn-tel{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 3px solid white;
        border-radius: 1px;
        padding: 20px;
        font-size: 20px;
        transition: all 1s ease;
    }
    .btn-tel:hover{
        background-color: #708caa;
    }

    .social-tel{
        display: flex;
        margin: auto;
    }


}




/* Competences section */

.competences{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    margin: auto;
    align-items: center;
    min-height: 500px;
    background-color: grey;
    padding: 0 0px 0 0px;
    align-content: center;
}

.competencess{
    /* background-color: grey; */
    justify-content: center;
}

dt, dd{
    transition: all 1s ease;
}

dt:hover{
    color: yellow;
    text-decoration: underline;
}
dd:nth-child(odd):hover{
    color: rgb(217, 141, 60);
}

dd:nth-child(even):hover{
    color: rgb(170, 49, 49);
}

.title-competences{
    text-decoration: none;
    font-family: fantasy;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    padding-top: 25px;
}


.competence-item-same{
    min-height: 300px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    justify-content: center;
    padding: 20px;
    line-height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #c1e0de;
    /* transition: transform 200ms; */
}


@media only screen and (max-width: 1395px) and (min-width: 820px)
{
    .competences{
        display: grid;
        grid-template-columns: 50% 50% ;
        margin: auto;
        align-items: center;
        min-height: 500px;
        padding: 0 30px 0 30px;
        align-content: center;
    }

    .competencess{
        background-color: grey;
        justify-content: center;  
    }
    .title-competences{
        text-decoration: none;
        font-family: fantasy;
        font-size: 40px;
        text-align: center;
        margin-top: 0px;
        padding-top: 25px;
    }
}

@media screen and (max-width:821px) {
    .competences{
        display: grid;
        grid-template-columns: 100% ;
        margin: auto;
        align-items: center;
        min-height: 500px;
        background-color: grey;
        padding: 20px 30px 20px 30px;
        align-content: center;
        row-gap: 40px;
        
    }
    .competencess{
        background-color: grey;
        justify-content: center;
        
    }
    .title-competences{
        text-decoration: none;
        font-family: fantasy;
        font-size: 40px;
        text-align: center;
        margin-top: 0px;
        padding-top: 25px;
    }
    
}


.competence-item-same:hover{
    -webkit-transform:scale(0.5);
    transform: scale(1.04);
}

.competence-item1{
    background-image: url('images/bg-programming.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.competence-item2{
    background-image: url('images/bg-website.jpg');
    
}

.competence-item3{
    background-image: url('images/bg-exploitation.jpg');

}

.competence-item4{
    background-image: url('images/bg-data.jpg');

}

.competence-item5{
    background-image: url('images/bg-3d.jpg');
}

.competence-item6{
    background-image: url('images/bg-logiciel.jpg');
}

.competence-item7{
    background-image: url('images/bg-microsoft.jpg');
}

.competence-item8{
    background-image: url('images/bg-network.jpg');
}



/* bouton scroll */

  .scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;

    
  }
  
  .btn-vers-bas{
    float: right;
    margin-right: 85px;
    bottom: 0px;
    margin-top: 570px;
  }

  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
    40% {
      opacity: 1;
      height: 10px;
    }
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  .chevrondown:nth-child(odd) {
    animation: pulse 500ms ease infinite alternate;
  }
  .chevrondown:nth-child(even) {
    animation: pulse 500ms ease infinite alternate 250ms;
  }
  @keyframes pulse {
    from {
      opacity: 0;
    }
    to {
      opacity: 1.5;
    }
  }

  @media screen and (max-width:1030px) {
    
    .btn-vers-bas {
        float: right;
        margin-right: 33px;
        bottom: 0px;
        margin-top: 570px;
    }
  }
  

  /* .certification-section{

}

.certification-div{

} */

